li:hover {
    background-color: gold;
    font-size: 30px;
    cursor: pointer;
}

li:active {
    background-color: violet;
    font-style: italic;
}

li::before {
    content: "😂✌️";
}

li:hover::after {
    content: " pls vote😿✌️";
    margin-left: 154px;
    font-weight: bold;
    color: blue;
}

li:active::before {
    content: "😢✌️";
}

ul {
    list-style:georgian;
}

